<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nwpu.salarymanagementsystem.dao.AdministratorMapper">
    <select id="login" resultType="administrator">
        select administrator_id, administrator_name
        from salarysystem.administrator
        where administrator_id = #{administratorId}
          and password = #{password}
    </select>
</mapper>