<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nwpu.salarymanagementsystem.dao.DepartmentMapper">
    <insert id="addDepartment" parameterType="map">
        insert into salarysystem.department values (#{departmentId},#{departmentName},#{parentId},#{level})
    </insert>

    <delete id="deleteById">
        delete from salarysystem.department where department_id = #{departmentId}
    </delete>

    <delete id="deleteByParent">
        delete from salarysystem.department where parent_id = #{parentId}
    </delete>

    <update id="alterName" >
        update salarysystem.department set department_name = #{newName} where department_id = #{departmentId}
    </update>
    
    <select id="queryAll" resultType="mutableDepartment">
        select * from salarysystem.department
    </select>

    <select id="queryById" resultType="mutableDepartment">
        select * from salarysystem.department where department_id = #{departmentId}
    </select>

    <select id="queryByName" resultType="mutableDepartment">
        select * from salarysystem.department where department_name = #{departmentName}
    </select>

    <select id="queryByParent" resultType="mutableDepartment">
        select * from  salarysystem.department where parent_id = #{departmentId}
    </select>

    <select id="queryByLevel" resultType="mutableDepartment">
        select * from  salarysystem.department where level = #{level}
    </select>




</mapper>