<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nwpu.salarymanagementsystem.dao.DepartmentMapper">
    <insert id="addDepartment" parameterType="map">
        insert into salarysystem.department values (#{departmentId},#{departmentName},#{parentId},#{level})
    </insert>
    <delete id="deleteByName">
        delete from salarysystem.department where name = #{name}
    </delete>
    <update id="alterName" >
        update salarysystem.department set name = #{newName} where name = #{name}
    </update>
    
    <select id="queryAll" resultType="mutableDepartment">
        select * from salarysystem.department
    </select>

    <select id="queryByName" resultType="mutableDepartment">
        select * from salarysystem.department where name = #{name}
    </select>

    <select id="queryChild" resultType="mutableDepartment">
        select * from  salarysystem.department where parent = #{parentName}
    </select>




</mapper>