<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nwpu.salarymanagementsystem.dao.SalaryMapper">
    <insert id="addSalary">
        insert into salarysystem.salary
        values (#{staffId}, #{month}, #{postWage}, #{meritPay}, #{seniorityPay},
                #{subsidy}, #{paid})
    </insert>
    <delete id="deleteById">
        delete
        from salarysystem.salary
        where staff_id = #{staffId}
    </delete>

    <delete id="deleteByMonth">
        delete
        from salarysystem.salary
        where staff_id = #{staffId}
          and month = #{month}
    </delete>

    <update id="alterSalary">
        update salarysystem.salary
        <set>
            <if test="postWage != null">
                post_wage = #{map.postWage},
            </if>
            <if test="meritPay != null">
                merit_pay = #{map.meritPay},
            </if>
            <if test="seniorityPay != null">
                seniority_pay = #{map.seniorityPay},
            </if>
            <if test="subsidy != null">
                subsidy = #{map.subsidy}
            </if>
            <if test="paid != null">
                paid = #{map.paid}
            </if>
        </set>
        where staff_id = #{staffId} and month = #{month}
    </update>

    <select id="queryById" resultType="mutableSalary">
        select month, post_wage, merit_pay, seniority_pay, subsidy, paid
        from salarysystem.salary
        where staff_id = #{staffId}
    </select>

    <select id="queryByMonth" resultType="mutableSalary">
        select month, post_wage, merit_pay, seniority_pay, subsidy, paid
        from salarysystem.salary
        where staff_id = #{staffId}
          and month = #{month}
    </select>

</mapper>
